{{#partial "contenido"}}
<h2>Eventos</h2>
<div class="btn-group-vertical" role="group" aria-label="Basic example">
	{{#each eventos}}
	<a href="/quemepongo/eventos/{{id}}/sugerencias">
		<button type="button" class="btn btn-primary">{{descripcion}}</button>
	</a>
	{{/each}}
</div>



{{/partial}} {{> layout.hbs}}