{{#partial "contenido"}}

<div class="alert alert-success" role="alert" style="margin:40px 25%">
    <h4 class="alert-heading">Operacion exitosa!</h4>
    <p>Ha terminado de aceptar y/o rechazar sugerencias para su evento</p>
    <p>Recuerde que las sugerencias que quedaron pendientes fueron consideradas rechazadas.</p>
    <hr>
    <p class="mb-0">Para volver al inicio haga click <a href="/quemepongo/guardarropas"><b>aqui</b></a></p>
</div>

{{/partial}} {{> layout.hbs}}