{{#partial "contenido"}}
<div>
	<form action="/quemepongo/prenda/color" method="post">
		<p>Color primario</p>
		<input type="color" name="colorPrimario" />
		<p>Secundario</p>
		<input type="checkbox" name="tieneSecundario">Tiene color secundario?</input>
		<input type="color" name="colorSecundario" />
		<input type="submit" value="Siguiente" href="/quemepongo/prenda/confirmacion"></input>
	</form>
</div>
{{/partial}} {{> layout.hbs}}