{{#partial "contenido"}}
<div>
	<h3>Seleccione los colores de la prenda</h3>
	<form action="/quemepongo/prenda/color" method="post">
		<div class="form-group">
			<label>Color primario</label>
			<input type="color" name="colorPrimario" />
		</div>
		<div class="form-group">
			<label>Color secundario</label>
			<div>
				<input type="checkbox" class="form-check-input" name="tieneSecundario">Tiene color secundario?</input>
			</div>
			<div>
				<input type="color" name="colorSecundario" />
			</div>
		</div>
		<input type="submit" value="Siguiente" href="/quemepongo/prenda/confirmacion" class="btn btn-primary"></input>
	</form>
</div>
{{/partial}} {{> layout.hbs}}