{{#partial "contenido"}}
<div>
	<h3>Tu prenda ha sido creada y agregada a su guardarropas</h3>
	<p>Click <a href="/quemepongo/guardarropas">aquí</a> para volver a los guardarropas</p>
</div>
{{/partial}} {{> layout.hbs}}