{{#partial "contenido"}}
<div>
    <h3>Seleccione el guardarropas para la primera prenda</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Guardarropa</th>
                <th scope="col">Seleccionar</th>
            </tr>
        </thead>
        <tbody>

            {{#each guardarropas}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{nombreGuardarropas}}</td>
                <td>
                    <form method="post" action="/quemepongo/prenda/guardarropas">
                        <div class="form-group">
                            <input type="hidden" value="{{id}}" name="idGuardarropa" />
                            <button type="submit" class="btn btn-primary">Seleccionar</button>
                        </div>
                    </form>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>
{{/partial}} {{> layout.hbs}}