{{#partial "contenido"}}
<div>
	<form action="/quemepongo/prenda/color" method="post">
		<select name="tipoTela">
			{{#each tiposTela}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		<input type="submit" value="Siguiente"></input>
	</form>
</div>
{{/partial}} {{> layout.hbs}}