{{#partial "contenido"}}
<div>
	<h3>Seleccione el tipo de prenda</h3>
	<form action="/quemepongo/prenda/tipoPrenda" method="post">
		<div class="form-group">
			<label>Tipo de prenda</label>
			<select name="tipoPrenda" class="form-control">
				{{#each tiposPrenda}}
				<option value="{{this}}">{{this}}</option>
				{{/each}}
			</select>
		</div>
		<input type="submit" class="btn btn-primary" value="Siguiente"></input>
	</form>
</div>
{{/partial}} {{> layout.hbs}}