{{#partial "contenido"}}
<div>
	<h3>Seleccione el tipo de tela</h3>
	<form action="/quemepongo/prenda/tipoTela" method="post">
		<div class="form-group">
			<label>Tipo de tela</label>
			<select name="tipoTela" class="form-control">
				{{#each tiposTela}}
				<option value="{{this}}">{{this}}</option>
				{{/each}}
			</select>
		</div>
		<input type="submit" value="Siguiente" class="btn btn-primary"></input>
	</form>
</div>
{{/partial}} {{> layout.hbs}}