<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<form method="post" action="/login">
		<div style="margin-left:20%;margin-top:5%;margin-right:20%">
			<img src="https://www.frba.utn.edu.ar/wp-content/uploads/2016/08/logo-utn.ba-horizontal-e1471367724904.jpg"
				style="width:300" />
			<div class="form-group">
				<label for="exampleInputEmail1">Direcci&oacute;n de correo</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
					placeholder="Ingrese Usuario o email" name="username">
				<small id="emailHelp" class="form-text text-muted">Desde QueMePongo nunca compartiremos tu correo con
					nadie.</small>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Contrase&ntilde;a</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contrase&ntilde;a"
					name="password">
			</div>
			<div class="form-group form-check">
			</div>
			<button type="submit" class="btn btn-primary">Entrar</button>
		</div>
	</form>
</body>

</html>