{{#partial "contenido"}}
<div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Guardarropa</th>
				<th scope="col">Prendas</th>
			</tr>
		</thead>
		<tbody>

			{{#each guardarropas}}
			<tr>
				<th scope="row">{{@index}}</th>
				<td>{{nombreGuardarropas}}</td>
				<td>
					<a href="guardarropas/{{id}}">
						<button type="button">Ver Prendas</button>
					</a>
					<form method="post" action="prenda/guardarropas">
						<input type="hidden" name="idGuardarropa" value="{{id}}" />
						<button type="submit">Agregar prenda</button>
					</form>
				</td>
			</tr>
			{{/each}}

		</tbody>
	</table>
</div>
{{/partial}} {{> layout.hbs}}