{{#partial "contenido"}}
<br>
<div style="margin-left:5%;margin-right:20%">
	<font size="6"  color="black">
		<b> 
	   		Mis Eventos:
	   	</b>
	</font>
</div>
<div style="margin-left:20%;margin-top:2%;margin-right:20%">
	{{#each eventos}}
		<div style="display:inline-block" id="cuadrado">
			<div>
	    		<font size="5"  color="black">
	   				<b> 
	   					<p class="paragraph">
	   						{{fechaMostrable}}
	   					</p>
	   				</b>
	        	</font>
	    	</div>
			<div>
	    		<font size="2" face="helvetica" color="black">
	          		<li>Evento: {{descripcion}}</li>
	            	<li>Guardarropa: {{guardarropa.nombreGuardarropas}}</li>
	        	</font>
	    	</div>
		</div>
	{{/each}}
</div>
<br>
<div style="position: absolute; right: 20;">
	<a 
		href="/quemepongo/eventos/new">
		<button class="buttonAltaEvento">Nuevo Evento</button>
	</a>
</div>
{{/partial}} {{> layout.hbs}}